<div class="container profile-edit-box">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, placeholder: 'john@example.com' %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :first_name, required: true, placeholder: 'John' %>
          <%= f.input :last_name, placeholder: 'Appleseed' %>
          <%= f.input :age, collection: 1..100 %>
          <p><strong>Where are you from?</strong></p>
          <%= f.country_select :country, label: 'Where are you from?' %>
          <br>
          <br>
          <%= f.input :biography, label: 'Tell us a bit about yourself' %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.input :current_password, placeholder: "Type in your current password to confirm your changes", required: true %>
          <%= f.input :password, autocomplete: "off", hint: "Leave this space blank if you wish to keep your current password", placeholder: "Minimum 6 characters", required: false %>
          <%= f.input :password_confirmation,placeholder: "Confirm your new password", required: false %>
        </div>

        <div>
          <p>
            <%= button_tag class: "profile-save-button" do %>
              <i class="far fa-save"></i>
            <% end %>
            <%= link_to registration_path(resource_name), data: { confirm: "Are you sure you want to delete your account?" }, method: :delete, class: "profile-save-button" do%>
            <i class="far fa-trash-alt"></i>
            <% end %>
          </p>
        </div>
      <% end %>
      <%= link_to profile_path, data: { confirm: "Are you sure you want to go back? All your unsaved changes will be lost." } do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
    </div>
  </div>
</div>
