<div class="container">
  <h3>Mailbox</h3>
  <hr>
  <h4>Active Conversations</h4>
    <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>
        <%= link_to conversation_messages_path(conversation) do %>
            <div class="row message">
              <div class="profile-pic-messages col-sm-2">
                <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
                  <% if conversation.sender_id == current_user.id %>
                    <% recipient = User.find(conversation.recipient_id) %>
                  <% else %>
                    <% recipient = User.find(conversation.sender_id) %>
                  <% end %>
                  <% if recipient.photo.present? %>
                    <%= cl_image_tag (recipient.photo), class: "avatar-picture" %>
                  <% end %>
                <% end %>
              </div>

              <div class="name col-sm-3">
                <p>
                  <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
                    <% if conversation.sender_id == current_user.id %>
                      <% recipient = User.find(conversation.recipient_id) %>
                    <% else %>
                      <% recipient = User.find(conversation.sender_id) %>
                    <% end %>
                    <%= recipient.first_name %> <%= recipient.last_name %>
                  <% end %>
                </p>
              </div>
              <% message = conversation.messages.last %>
              <% if message && message.body %>
                <div class="col-sm-6">
                  <% user = User.find(message.user_id) %>
                  <div class="item">
                    <div class="content">
                      <p><%= message.message_time %></p>
                      <% if message.body.length < 50 %>
                        <p><%= message.body %></p>
                      <% else %>
                        <p><%= message.body.first(50) %>...</p>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="col-sm-1">
                  <i class="fas fa-angle-right"></i>
                </div>
              <% end %>
            </div>
        <% end %>
      <% end %>
    <% end %>
  <hr>
</div>



