<div class="col-lg-6 profile-card">
    <% if @user_player.photo.present? %>
      <%= cl_image_tag (@user_player.photo), class: "profile-picture" %>
    <% end %>
    <h4><i class="far fa-user"></i>  <%=  @user_player.first_name %> <%=  @user_player.last_name %></h4>
    <h4><%=  @user_player.age %> years old</h4>
    <h4><i class="far fa-compass"></i></i>
      <% if @user_player.country %>
        <%=  @user_player.country_name %>
      <% end %>
    </h4>
    <br>
    <h4>About me</h4>
    <p><%= @user_player.biography %></p>
</div>


