<div class="col-xs-6">
  <div>
    <h3>
      <%= image_tag "#{@event.sport.name.downcase}.png", class: "event-main-images" %> <strong><%= @event.sport.name %></strong> on <strong><%= @event.nice_date %></strong>
    </h3>
    <div>
      <h4>
        <% unless @event.host.id == current_user.id %>
          <% if @event.host.photo.present? %>
            <%= cl_image_tag @event.host.photo, class: "event-main-images event-host" %>
          <% end %>
          <%= @event.host.first_name %>
          <%= link_to user_path(@event.host.id) do %>
            <i class="far fa-user"></i>
          <% end %>
          <%= link_to conversation_messages_path(@event.host.conversation_with(current_user)) do %>
            <i class="far fa-envelope"></i>
          <% end %>
        <% end %>
      </h4>
    </div>
    <br>
  </div>
  <div>
    <p>Spots available:
      <% if (@event.max_players - @event.spots_left) == 0 %>
        <% @event.max_players.times do %>
          <i class="fas fa-male spots"></i>
          <% end %>
      <% else %>
        <% @event.spots_left.times do %>
          <i class="fas fa-male spots"></i>
        <% end %>
        <% (@event.max_players - @event.spots_left).times do %>
          <i class="fas fa-male spots-taken"></i>
        <% end %>
      <% end %>
      (<%= @event.spots_left %>/<%= @event.max_players %>)
    </p>
  </div>
  <div>
    <p>Event description: <%= @event.description %></p>
  </div>
</div>
