<div class="col-lg-6">
  <div class="my_titles">
    <h3>
      Events you have created:
      <%= link_to new_event_url do %>
      <i class="fas fa-plus new_event"></i>
    <% end %>
    </h3>
  </div>
  <hr>
  <div class="row separator">
    <% @events.each do |event| %>
      <div class="row boxer card_fonts">
        <h4><%= image_tag "#{event.sport.name.downcase}.png", class: "event-main-images" %> <%= link_to event.sport.name + " on " + event.nice_date, event_path(event), class: "card_fonts" %></h4>
        <p>
          <i class="fas fa-map-marker-alt"></i>
          <%= event.address %>
        </p>
        <% event.bookings.each do |booking| %>
          <p><%= booking.user.first_name %> has registered. Booking: <%= booking.status.capitalize %></p>
          <% if booking.status == "pending" %>
            <p>
              <%= link_to event_booking_path(event, booking), method: :patch do%>
              <i class="fas fa-check"></i>
              <% end %>
              Approve
              <%= link_to event_booking_denial_path(event, booking), method: :patch do%>
              <i class="fas fa-times"></i>
              <% end %>
              Reject
            </p>
            <p>
            </p>
          <% end %>
        <% end %>
        <% if event.reviews.count > 0 %>
          <p><strong>Reviews for this event:</strong></p>
          <% event.reviews.each do |review| %>
            <div class="review-box">
              <p class="review-components">Rating:
                <% review.rating.to_i.times do %>
                  <i class="fas fa-star positive-review"></i>
                <% end %>
                <% (5 - review.rating.to_i).times do %>
                  <i class="fas fa-star no-review"></i>
                <% end %>
                (<%= review.rating.to_i %>/5)
              </p>
              <p class="review-components">Comment: <%= review.review_content %></p>
            </div>
          <% end %>
        <% end %>
        <div class="event-links">
          <p>
            <%= link_to edit_event_path(event) do %>
              <i class="far fa-edit"></i>
            <% end %>
            <%= link_to event_path(event), :method => :delete, data: {:confirm => "Are you sure you want to delete this event?" } do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
