<div class="container">
  <div class="row all-cards">
    <h2>Hi <%= @host.first_name %>, here are your events that you've created:</h2>
    <ul>
    <% @events.each do |event| %>

     <p> <%= event.sport.name %> at <%= event.nice_date %> </p>
      <% event.bookings.each do |booking| %>
      <p><%= booking.user.first_name %> has registered </p>
     <p> Booking status: <%= booking.status %></p>

<%= link_to "Approve", event_booking_path(event, booking), method: :patch, class: "btn btn-primary" %>
<%= link_to "Denial", event_booking_denial_path(event, booking), method: :patch, class: "btn btn-danger" %>

     <% end %>

  <br>
      <%= link_to "See Details", event_path(event) %>
      <li><%= link_to "Edit Event", edit_event_path(event) %></li>
      <li><%= link_to "Delete Event", event_path(event), :method => :delete, data: {:confirm => "Are you sure you want to delete this event?" }%></li>
          </ul>

      <% end %>

  <h2>Your Bookings:</h2>
    <% @bookings.each do |booking| %>
    <p>Date: <%= booking.event.nice_date %></p>
    <p>Sport: <%= booking.event.sport.name %></p>
    <p>Host Name: <%= booking.event.host.first_name %> <%= booking.event.host.last_name %></p>
    <p>Location: <%= booking.event.address %></p>
    <p>Status: <%= booking.status %></p>
    <br>
  <% end %>
<br>

  <%= link_to "Create New Event", new_event_url %>
</div>
</div>

