<h1>Edit your <%= @event.sport.name %> game</h1>


<%= simple_form_for @event do |f| %>
  <%= f.input :address %>
  <%= f.input :date %>
  <%= f.input :max_players %>
  <%= f.submit "Edit event" %>
<% end %>
