<div class="container">
  <div class="home">
    <div class="row all-cards">
      <h3>Hey <%= @user.first_name %>! Here's what's happening around you:</h3>
      <% @events.each do |event| %>
        <%= link_to event_path(event) do %>
        <div class="col-xs-12 col-sm-4 col-lg-4">
          <div class="card">
            <div>
              <%= image_tag ("#{event.sport.name.downcase}.png"), class: "card-photo" %>
            </div>
            <div class="booking-content">
              <h4><%= event.sport.name %></h4>
              <p><i class="fas fa-location-arrow"></i> <%= event.address %></p>
              <p>By <%= event.host.first_name %></p>
              <p><%= event.nice_date %></p>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div
      id="map"
      style="width: 60%;
      height: 100vh;
      margin: 10px;"
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>
</div>

<script>
  function scrollWin(x, y) {
      window.scrollBy(0, 100);
  }
  window.onload = scrollWin
</script>


