<h1>Create a new game!</h1>

<%= simple_form_for @event do |f| %>
  <%= f.association :sport %>
  <%= f.input :address, id: "eventAddress" %>
  <%= f.input :date %>
  <%= f.input :max_players %>
  <%= f.submit "Create event" %>
<% end %>
