  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Create a new game!</h1>

        <%= simple_form_for @event do |f| %>
          <%= f.association :sport %>
          <%= f.input :address, id: "eventAddress" %>
            <p>Date</p>
             <%= f.input_field :date,  label: "Date", as: :string, class: 'datetimepicker' %>

          <%= f.input :max_players %>
          <%= f.input :description %>
          <%= f.input :price, label: 'Participant fee per person' %>
          <%= f.button :submit, "Create event", class: "add-skill-button" %>
        <% end %>

        <%= link_to events_path do %>
          <i class="fas fa-arrow-left"></i>
        <% end %>
        </div>
     </div>
  </div>
