<h1>
  Details about the <%= @event.sport.name %> game on <%= @event.date %>
</h1>
<p>This event is organized by: <%= @event.host.first_name %> <%= @event.host.last_name %></p>

<p>Would you like to register for this event?</p>

<%= link_to "Register", new_event_booking_path(@event),
class: "btn btn-primary" %>
