<div class="container-fluid">
  <div class="row boxer">
    <div class="col-xs-6">
      <h4>A session of <strong><%= @event.sport.name %></strong> will be held on <strong><%= @event.nice_date %></strong>, hosted by <strong><%= @event.host.first_name %></strong> <strong><%= @event.host.last_name %> at <%= @event.address %></strong></h4>
      <h4><strong><%= @event.host.first_name %></strong> has established a maximum of <strong><%= @event.max_players %> players </strong> and there are <strong><%= @event.spots_left %></strong> spots left. </h4>
    </div>
    <div class="col-xs-6">
      <h3>Registered players: </h3>
      <% if @event.bookings.blank? %>
        <h4>There are no players registered for this event yet, bet the first one to do so by clicking the button below: </h4>
        <%= button_to "Register", event_bookings_url(@event), class: "btn btn-primary"%>
      <% else %>
        <% @event.bookings.each do |booking| %>
          <%  if booking.user.first_name %>
            <p><%= image_tag ("#{@event.sport.name.downcase}.png"), class: "event-logo" %> <%= booking.user.first_name %>
              <% if booking.user.country_name %>
              from <%= booking.user.country_name %></p>
            </p>
              <% end %>
          <% else %>
            <p>Unkown user has registered</p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



<h4>
  <%= @event.sport.name %> on <%= @event.nice_date %>
</h4>
<p>This event is organized by: <%= @event.host.first_name %> <%= @event.host.last_name %></p>
<p> This event will take place in <%= @event.address %>. </p>
<p> The host is looking for <%= @event.max_players %> players.</p>
<p> The date set is <%= @event.nice_date %>. </p>
<p> There are <%= @event.spots_left %> spots left.</p>
<p> Participant fee is <%=  humanized_money_with_symbol(@event.price_cents) %>.</p>

<h3>Registered Users</h3>
  <% @event.bookings.each do |booking| %>
    <%  if booking.user.first_name %>
      <p><%= booking.user.first_name %> has registered </p>
      <% else %>
      <p>Unkown user has registered</p>
    <% end %>
    <% if booking.user.age  %>
      <p>Age: <%= booking.user.age %></p>
    <% end %>
    <% if booking.user.country_name %>
      <p><%= booking.user.first_name %> is from <%= booking.user.country_name %>  </p>
    <% end %>
    <% if booking.user.biography %>
    <p>Biography:<%= booking.user.biography %> </p>
    <% end %>
    <p> Booking status: <%= booking.status %></p>
    <br>
  <% end %>



<% if @event.host.id == current_user.id %>
  <p>This is an event you created.</p>
<% elsif @event.spots_left > 0 && !@event.is_user_registered?(current_user) %>
  <p>Would you like to register for this event?</p>
  <%= button_to "Register", event_bookings_url(@event), class: "btn btn-primary"%>
<% elsif @event.is_user_registered?(current_user) %>
  <p> You are already participating in this event.</p>
<% else  %>
  <p>This event is currently full. We will notify you if spots become available.</p>
<% end %>

<%= link_to "Back", events_path %>
