<div class="container-fluid">
  <div class="row boxer">
    <div class="col-xs-6">
      <div>
        <h3><%= image_tag "#{@event.sport.name.downcase}.png", class: "event-main-images" %> <strong><%= @event.sport.name %></strong> hosted by <strong><%= @event.host.first_name %></strong> <%= cl_image_tag @event.host.photo, class: "event-main-images event-host" %></h3>
      </div>

      <div>
        <p><i class="far fa-calendar-alt"></i> <%= @event.nice_date %></p>
      </div>

      <div>
        <p>Spots available:
          <% if (@event.max_players - @event.spots_left) == 0 %>
            <% @event.max_players.times do %>
              <i class="fas fa-male spots"></i>
              <% end %>
          <% else %>
            <% @event.spots_left.times do %>
              <i class="fas fa-male spots"></i>
            <% end %>
            <% (@event.max_players - @event.spots_left).times do %>
              <i class="fas fa-male spots-taken"></i>
            <% end %>
          <% end %>
          (<%= @event.spots_left %>/<%= @event.max_players %>)
        </p>
      </div>
    </div>
    <div class="col-xs-6">
      <h3>Registered players </h3>
      <% if @event.bookings.where(status: "approved").blank? %>
        <p>There are no players registered for this event yet.</p>
      <% else %>
        <% @event.bookings.each do |booking| %>
        <% if @event.booking_approved?(booking.user) %>
          <%  if booking.user.first_name %>
            <p><%= image_tag ("#{@event.sport.name.downcase}.png"), class: "event-logo" %> <%= booking.user.first_name %>
              <% if booking.user.country_name %>
              from <%= booking.user.country_name %></p>
            </p>
              <% end %>
          <% end %>
        <% end  %>
        <% end  %>
      <% end %>
      <% if @event.date < Date.today %>
        <p> This event has already occured.</p>
      <% elsif @event.host.id == current_user.id %>
        <p>This is an event you created.</p>
      <% elsif @event.bookings.blank? %>
        <p>Be the first one to do so below:</p>
        <%= button_to "Register", event_bookings_url(@event), class: "btn btn-primary"%>

      <% elsif @event.spots_left > 0 && !@event.is_user_registered?(current_user) %>
        <p>Would you like to register for this event?</p>
        <%= button_to "Register", event_bookings_url(@event), class: "btn btn-primary"%>

      <% elsif @event.booking_pending?(current_user) %>
        <p>Your registration is currently pending. The host is setting up the event and will get back to you shortly.</p>
      <% elsif @event.booking_approved?(current_user) %>
        <p> Your booking has been approved! You will be participating in this event.</p>
      <% elsif @event.booking_rejected?(current_user) %>
        <p> Unfortunately, your booking has been rejected... We invite you to find another event in your area. </p>
      <% else  %>
        <p>This event is currently full. We will notify you if spots become available.</p>
      <% end %>
    </div>
  </div>
</div>
<%= link_to events_path do %>
  <i class="fas fa-chevron-circle-left back-button"></i>
<% end %>
