<h1>
  Details about the <%= @event.sport.name %> game on <%= @event.nice_date %>
</h1>
<p>This event is organized by: <%= @event.host.first_name %> <%= @event.host.last_name %></p>
<p> This event will take place in <%= @event.address %>. </p>
<p> The host is looking for <%= @event.max_players %> players.</p>
<p> The date set is <%= @event.nice_date %>. </p>
<p> There are <%= @event.spots_left %> spots left.</p>

<h3>Registered Users</h3>
  <% @event.bookings.each do |booking| %>
    <%  if booking.user.first_name %>
      <p><%= booking.user.first_name %> has registered </p>
      <% else %>
      <p>Unkown user has registered</p>
    <% end %>
    <% if booking.user.age  %>
      <p>Age: <%= booking.user.age %></p>
    <% end %>
    <% if booking.user.country_name %>
      <p><%= booking.user.first_name %> is from <%= booking.user.country_name %>  </p>
    <% end %>
    <% if booking.user.biography %>
    <p>Biography:<%= booking.user.biography %> </p>
    <% end %>
    <p> Booking status: <%= booking.status %></p>
    <br>
  <% end %>



<% if @event.host.id == current_user.id %>
  <p>This is an event you created.</p>
<% elsif @event.spots_left > 0 %>
  <p>Would you like to register for this event?</p>
  <%= button_to "Register", event_bookings_url(@event), class: "btn btn-primary"%>
<% elsif  %>
  <p>This event is currently full. We will notify you if spots become available.</p>
<% end %>

