<h1><%= @user.first_name %>'s profile</h1>
<%= cl_image_tag(@user.photo,
      width: 400, height: 300, crop: :fill) %>
<p>Name:
<%=  @user.first_name %></p>
<p>Age:
<%=  @user.age %></p>
<p>Country:
<%  user_country = @user.country %>
<% country = ISO3166::Country[user_country] %>
<%=  country.translations[I18n.locale.to_s] || country.name %></p>


<br>
<%=  @user.biography %>
<%= link_to "Edit My profile", edit_user_registration_path %>
<h2>Experiences in Sports</h2>
<% @user.experiences.each do |experience| %>
<p><%= experience.sport.name %></p>
<p><%= experience.skill_level %></p>
<p><%= link_to "Edit my expertise", edit_experience_path(experience) %></p>
<p><%= link_to "Delete", experience_path(experience), :method => :delete, data: {:confirm => "You sure?" } %></p>
<% end %>



<%= link_to "Add an expertise", new_experience_path %>
