<div class="signin-back">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="login-block">
            <h1>Login</h1>
            <%= f.input :email, required: false, autofocus: true, placeholder: "Type in your email address" %>
            <%= f.input :password, required: false, placeholder: "Type in your password" %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <%= f.button :submit, "Submit", class: "button" %>
            <div>
        <% end %>
        </div>
          <%= render "devise/shared/links",  class: "assistance" %>
        </div>
      </div>
    </div>
  </div>
</div>

